<ul class="list">
    <li ng-click="list()" ui-sref=".list" ng-class="{'current':menuClass=='listMenu'}">
        <a href="javascript:void(0)" >汇总<span>collect</span></a>
    </li>
    <li ng-click="add()" ui-sref=".analyse[12]" ng-class="{'current':menuClass=='analyseMenu'}">
        <a href="javascript:void(0)"  class="add">分析<span>analyse</span></a>
    </li>
    <li ng-click="edit()"ui-sref=".constrast[12]" ng-class="{'current':menuClass=='constrastMenu'}">
        <a href="javascript:void(0)" class="same-one" >对比<span>constrast </span></a>
    </li>
</ul>